<!doctype html>
<html>
    <head>
        <title>Dubbatransitek</title>
        <% include ../partials/head %>
        <style>
            body {
                padding-top: 80px;
            }

        </style>
    </head>
    <body>

        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">

                <h1>
                    <span class="fa fa-sign-in"></span>
                    Connexion
                </h1>

                <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>

                <!-- LOGIN FORM -->
                <form action="/login" method="post">
                    <div class="form-group">
                        <label>Nom d'utilisateur</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <label>Mot de passe</label>
                        <input type="password" class="form-control" name="password">
                    </div>

                    <button type="submit" class="btn btn-warning btn-lg">Se connecter</button>
                </form>

                <hr>

                <p>Envie de nous rejoindre ?
                    <a href="/signup">S'inscrire</a>
                </p>
                <p>Ou allez à
                    <a href="/">l'accueil</a>.
                </p>
            </div>
        </div>
    </body>
</html>
