<!doctype html>
<html>
    <head>
        <title>Dubbatransitek</title>
        <% include ../partials/head %>
        <style>
            body {
                padding-top: 80px;
                word-wrap: break-word;
            }

        </style>
    </head>
    <body>
        <div class="container">
            <header>
                <% include ../partials/header %>
            </header>

            <!-- DISPLAY MUSICS -->
            <div class="row">
                YT:<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Wz4So_ifXr0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

                DEEZER:<iframe scrolling="no" frameborder="0" allowTransparency="true" src="https://www.deezer.com/plugins/player?format=classic&autoplay=false&playlist=false&width=700&height=350&color=007FEB&layout=dark&size=medium&type=tracks&id=3333333&app_id=249902" width="700" height="350"></iframe>

                <iframe src="https://open.spotify.com/embed?uri=spotify:track:6pGs4VS6BV0WnooovrrxRj" width="640" height="80" frameborder="0" allowtransparency="true"></iframe>

                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/34019569&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                
            </div>

            <!-- ADD MUSIC -->
            <div class="row">
                <h1>Ajouter une musique</h1>
                <div class="form-group">
                    <label>URL:</label>
                    <input type="text" class="form-control" name="name" placeholder="Best PL ever"/>
                </div>
            </div>

            <!-- DOWNLOAD MUSICS -->
            <div class="row">
                <h1>Télécharger la playlist</h1>
                <div class="form-group">

                    <button>Télécharger</button>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        <script>
            var socket = io();

            socket.emit('askPlaylist', <%= name %>);

            socket.on('getPlaylist', function(){

            });
        </script>

    </footer>
</html>
