<!doctype html>
<html>
    <head>
        <title>Dubbatransitek</title>
        <% include ../partials/head %>
    </head>

    <body>
        <div class="container">
            <header>
                <% include ../partials/header %>
            </header>

            <!-- DISPLAY PLAYLIST -->
            <div class="row">
                <h1>Acceder à une playlist</h1>
                <form action="/musics">
                    <div id="playlists" class="input-group">
                        <input class="typeahead form-control" name="name" id="playlist_search" type="text" data-provide="typeahead" placeholder="Nom de la playlist" autocomplete="off">
                        <span class="input-group-btn">
                            <button id='select' class="btn btn-secondary" type="submit">Go!</button>
                        </span>
                    </div>
                </form>
            </div>
            <!-- ADD PLAYLIST FORM -->
            <div class="row">
                <h1>Créer une playlist</h1>
                <div class="form-group">
                    <label>Nom:</label>
                    <input type="text" class="form-control" id="name" placeholder="Best PL ever" required/>
                </div>
                <div class="form-group">
                    <label>Tag (séparés par une virgule):</label>
                    <input type="text" class="form-control" id="tags" placeholder="techno, dark, amelie, pute"/>
                </div>
                <div class="form-group">
                    <label>Première musique de la playlist:</label>
                    <input type="url" class="form-control" id="url" placeholder="Lien deezer, spotify, youtube ou soundcloud"/>
                </div>
                <div class='form-group'>
                    <button class='btn btn-primary' id="add">Valider</button>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <% include ../partials/notifJS %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
        <script>
            socket.on('playlistsNames', function(playlistsNames) {
                $('#playlist_search').typeahead('destroy').typeahead({source: playlistsNames});
            });

            $('#add').click(function() {
                socket.emit('addPlaylist', $('#name').val(), $('#tags').val(), $('#url').val());
                $('#name').val('');
                $('#tags').val('');
                $('#url').val('');
                $('#add').prop('disabled', true);
            });

            socket.emit('getPlaylistsNames');
        </script>
    </footer>
</html>
